* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-item {
    margin-left: 30px
}

.nav-item i {
    font-size: larger;
}


.nav-item a:hover{
    color: coral !important;
}

#nav{
    position:sticky;
    left: 0;
    top: 0;
    z-index: 1000;
}


.navbar-brand {
    font-size: 1.6rem !important;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 700;
}


.carousel-item {
    width: 100% !important;
    height: 90vh !important   ;
}

.carousel-item img {
    width: 100% !important;
    height: 100% !important;

}

.carousel-item .carousel-caption {
    position: absolute;top: 300px;;
}

#col img{
    width: 100%;
    height: 90%;
}





.banner {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(images/model-homebanner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.parallex h3 {
    color: white;
    font-size: 4rem;
    font-family: 'Libre Baskerville', serif;
}


.parallex h1 {
    font-size: 6rem;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 30px;
}


.parallex a {
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
}


.parallex i {
    margin-right: 10px;
}

.parallex a:hover {
    background-color: white;
    color: black;
}



#about {
    width: 100%;
    /* background-color: red; */
}

.about h4 {
    font-size: 1.3rem;
    margin-bottom: 30px;
    font-family: 'Libre Baskerville', serif;
}


.about h2 {
    font-size: 3rem;
    line-height: 1.4;
}


.image{
    padding:100px 0px;
}

.image h3{
    font-family: 'Libre Baskerville', serif;
    color: white;
}

.image p{
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-weight: normal;
    margin-bottom: 80px;
}

.image a{
    text-decoration: none;
    color: white;
    background-color: none;
    font-weight: normal;
    padding: 10px 30px;
    transition: 0.5s;
    border: 1px solid white;
}

.image i{
    margin-right: 10px;
}

.image a:hover{
    color: black;
    letter-spacing: 1px;
    background-color: white;
}


.ban {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(images/shopping-in-rishikesh-1.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
    background-attachment: fixed;
}


.card-body a
{
    background-color: white !important;
    color:#c2a09e !important;
    border-radius: 0px !important;
    border: 1px solid #c2a09e !important;
    transition: 0.5s;
}


.card-body a:hover{
    background-color: #383f42 !important;
    color: white !important;
    letter-spacing: 1px;
}


.img_ban{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(images/shopping-in-rishikesh-1.jpg);
    background-position: center;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 80vh;
}

.img_ban h5{
    margin-top: 50px;
}

.img_ban h2{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 30px;
}

.img_ban p{
    font-weight: normal;
    color: gray;
}

.img_ban .btn{
    width: 15% !important;
    border-radius: 0px !important;
    padding:15px 25px;
}

.img_ban i{
    padding-left: 10px;
    font-size: large;
}








/* CONTACT CSS */

#c_image{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/kara-contactbanner.jpg);
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}




.c_form{
    margin-top: 100px;
    padding: 80px 0px;
}



.col-icons i {
    padding: 15px;  
    color: white;
    background-color: #c2a09e;
    border-radius: 50%;
    margin-right: 10px;
    font-size: large;
}


.btn {
    margin-top:50px ;
    padding: 12px 40px !important;
    border-radius: 0px !important;
    background-color: white !important;
    color: #c2a09e !important;
    border: 1px solid #c2a09e !important;
    transition: 0.5s !important;
}


.btn:hover{
    color: white !important;
    background-color: #383f42 !important;
    letter-spacing: 1px;

}




/*  blog page ..... */


#blog_ban{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/makeup-banner-kit.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#blog-id{

    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("images/model-homebanner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}



/*  Form csss */

/* form{
    background-color: whitesmoke;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
} */